<header>
  <button mat-icon-button class="menu-button" (click)="toggleNavOverlay()">
    <mat-icon class="material-symbols-outlined">close</mat-icon>
  </button>
</header>

  <ul class="navigation-items">
    <li *ngFor="let navItem of _navData.navData" (click)="loadPageComponent(navItem?.route)">
      <div class="nav-item">
        <mat-icon class="material-symbols-outlined">{{navItem.icon}}</mat-icon>
        <div class="link-title">{{navItem.title}}</div>
      </div>
    </li>
    <li (click)="navigateToLink('https://dublin-scioto-touchdown-club.square.site/')">
      <div class="nav-item">
        <mat-icon class="material-symbols-outlined">store</mat-icon>
        <div class="link-title">TD Club Shop</div>
      </div>
    </li>
  </ul>



