
.storied-rivals{
  list-style: none;
  width: calc(100% - 52px);
  //max-width: 1300px;
  overflow-y: auto;
  //border: solid 1px red;
  display: block;
  max-height: calc(100vh - 114px);
  padding-right: 15px;
  margin: 0;

  .rivals-item{
    border-bottom: solid 1px green;
    display: flex;
    padding: 6px;
    cursor: pointer;

    .link-thumb{
      display: flex;
      max-width: 320px;
      border: solid 1px black;
      border-radius: 6px;
      margin: 0 auto;
    }

    .link-Description{
      padding: 6px;
      display: flex;
    }
  }
}


@media (max-width: 900px){
  .rivals-item{
    flex-wrap: wrap;

    .link-Description{
      margin-top: 5px;
    }
  }

}
