<div class="rivals-container">
  <h2>Storied Rivals</h2>
  
  <ul class="storied-rivals" *ngIf="!loading && storiedRivalsJSON && storiedRivalsJSON.length > 0">
    <li *ngFor="let item of storiedRivalsJSON" (click)="openYouTube(item.snippet.resourceId.videoId)">
      <h3 class="link-title">{{item.snippet.publishedAt | date:'MMM d, y' }}: {{item.snippet.title }}</h3>
      
      <div class="rivals-item">
        <div class="link-thumb">
          <img [src]="item.snippet.thumbnails.medium.url" [alt]="item.snippet.title">
        </div>
        
        <div class="link-Description">
          <p>{{item.snippet.description}}</p>
          <div class="watch-button">
            <span>Watch Video</span>
          </div>
        </div>
      </div>
    </li>
  </ul>
  
  <div *ngIf="loading" class="no-content">
    <p>Loading rival videos...</p>
  </div>
  
  <div *ngIf="!loading && (!storiedRivalsJSON || storiedRivalsJSON.length === 0)" class="no-content">
    <p>No videos are currently available. Please check back later.</p>
  </div>
</div>


