:host {
  display: flex;
  height: calc(100%);
  width: 100%;
  background-color: black;
}

.navigation {
  list-style-type: none;
  transition: width .5s, opacity .5s, width .25s;
  overflow-x: auto;
  white-space: nowrap;
  margin: 10px auto;
  width: calc(100% - 35px);
  padding: 0;

  li {
    cursor: pointer;
    padding: 4px;
    margin-bottom: 4px;
    display: block;
    color: white;
    width: calc(100% - 10px);

    .nav-item {
      display: flex;
      flex-direction: row;
      background-color: black;
      justify-content: left;
      align-content: center;
      width: 100%;
      color: white;
      margin-bottom: 5px;

      mat-icon {
        width: 25px;
        height: 100%;
      }

      .link-title {
        display: flex;
        padding: 4px 0 0 8px;
        width: 111px;
        font-size: 16px;
        height: 19px;
        transition: display .5s;
        transition-delay: 1.75s;
      }
    }

  }
}

@media (max-width: 800px) {
  .navigation {
    padding-left: 0;
    width: 30px;

    li {
      width: 23px;
      text-align: center;
      transition: width .25s;
      transition-delay: .25s;

      .nav-item {

        mat-icon {
          width: 25px;
          height: 100%;
        }

        .link-title {
          //transition: display .5s, width .25s;
          display: none;
        }
      }
    }
  }
}

