<ul class="navigation">
  <li *ngFor="let navItem of _navData.navData" (click)="loadPageComponent(navItem?.route)">
    <div class="nav-item">
      <mat-icon class="material-symbols-outlined">{{navItem.icon}}</mat-icon>
      <div class="link-title">{{navItem.title}}</div>
    </div>
  </li>

  <li (click)="navigateLink('https://dublin-scioto-touchdown-club.square.site/')">
    <div class="nav-item">
      <mat-icon class="material-symbols-outlined">store</mat-icon>
      <div class="link-title">TD Club Shop</div>
    </div>
  </li>

</ul>

