:host {

  .header-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: solid 1px #ccc;
    min-height: 350px;
    max-height: 350px;
    //background-image: url('/assets/scioto-banner.png');
    background-image: url('/assets/scioto_football_2023.jpg');
    //background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    position: relative;

    .logo-container {
      position: absolute;
      top: 15px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
      background-color: rgba(180, 180, 180, 0.9);
      border-radius: 50%;
      padding: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      border: 6px solid #006633;
    }

    img.header-logo {
      height: 100px;
      width: auto;
      display: block;
    }

    .menu-button {
      position: absolute;
      top: 0;
      right: 0;
      display: none;
    }
  }

  .banner-message {
    background-color: black;
    color: #1F8441;
    padding: 10px 0;
    text-align: center;
    border-top: solid 10px #1F8441;
    border-bottom: solid 10px #1F8441;
  }

  .menu-container {
    display: none;
  }
}


@media (max-width: 800px) {

  :host {
    .header-container {
      //background-attachment: fixed;
      background-size: 175%;
      
      .logo-container {
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        padding: 8px;
      }
      
      img.header-logo {
        height: 80px;
      }
    }
  }
}


@media (max-width: 499px) {

  :host {
    .header-container {
      .menu-button {
        display: block;
      }
      
      .logo-container {
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        padding: 5px;
      }
      
      img.header-logo {
        height: 60px;
      }
    }

    .menu-container {

      display: none;
      width: 0;
      z-index: 99;

      &.open {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
      }
    }
  }
}
