:host{

  .header-container{
    display:flex;
    flex-direction: row;
    width : 100%;
    border-bottom: solid 1px #ccc;
    min-height: 350px;
    max-height: 350px;
    background-image: url('/assets/handsintheair1.png');
    background-attachment: fixed;
    background-position: center 40px;
    background-repeat: no-repeat;
    background-size: 100% 350px;

    img{
      height: 120px;
      width: auto;
      margin: 4px auto;
    }

    .header-buttons{
      margin-left: auto;
      a{
        display: inline-block;
        width: 100px;
      }
      .menu-button{
        color: white;
      }
    }


  }

  .banner-message{
    background-color: black;
    color: #1F8441;
    padding: 10px 0;
    text-align: center;
    border-top: solid 10px #1F8441;
    border-bottom: solid 10px #1F8441;
  }
}
