:host {

  .header-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: solid 1px #ccc;
    min-height: 350px;
    max-height: 350px;
    //background-image: url('/assets/scioto-banner.png');
    background-image: url('/assets/scioto_football_2023.jpg');
    //background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;

    img.header-logo {
      height: 120px;
      width: auto;
      margin: 4px auto;
    }

    .menu-button {
      position: absolute;
      top: 0;
      right: 0;
      display: none;

    }
  }

  .banner-message {
    background-color: black;
    color: #1F8441;
    padding: 10px 0;
    text-align: center;
    border-top: solid 10px #1F8441;
    border-bottom: solid 10px #1F8441;
  }

  .menu-container {
    display: none;
  }
}


@media (max-width: 800px) {

  :host {
    .header-container {
      //background-attachment: fixed;
      background-size: 175%;
    }
  }
}


@media (max-width: 499px) {

  :host {
    .header-container {
      .menu-button {
        display: block;
      }
    }

    .menu-container {

      display: none;
      width: 0;
      z-index: 99;

      &.open {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
      }
    }
  }
}
