<div class="header-container">

  <img src="/assets/scioto_logo.png" alt="Scioto Logo" class="header-logo">

  <!--    <a href="https://dublin-scioto-touchdown-club.square.site/" target="_new">Shop</a>-->
  <!--    <a href="https://www.dublinschools.net/domain/1021" target="_new">Tickets</a>-->

  <button mat-icon-button class="menu-button" (click)="toggleNavOverlay()">
    <mat-icon class="material-symbols-outlined">menu</mat-icon>
  </button>

</div>
<div class="banner-message">
  TRUST - COMMITMENT - LOVE - BELIEF
</div>


<app-sf-navigation-overlay class="menu-container"
                           [ngClass]="_showNavOverlay ? 'open' : ''"
                           (toggleNav)="toggleNavOverlay()">
</app-sf-navigation-overlay>

