<table width="100%" border="0" cellpadding="2" cellspacing="1" valign="top">
  <tr class="white-on-black">
    <td class="midfont">
      <span class="spanheader">DIGITAL SCOUT SEASON STATISTICS</span>
    </td>
  </tr>
  <tr>
    <td>
      <ul>
        <li>
          <a class="listlink"
             href="https://stats.digitalscout.com/ohio/school/dublin-scioto-irish/football/varsity/boys/14836116">2022
          </a>
        </li>
        <li>
          <a class="listlink"
             href="https://stats.digitalscout.com/ohio/school/dublin-scioto-irish/football/varsity/boys/13464003">2021
          </a>
        </li>
        <li>
          <a class="listlink"
             href="https://stats.digitalscout.com/ohio/school/dublin-scioto-irish/football/varsity/boys/12289353">
            2020
          </a>
        </li>
        <li>
          <a class="listlink"
             href="https://stats.digitalscout.com/ohio/school/dublin-scioto-irish/football/varsity/boys/10823466">
            2019
          </a>
        </li>
        <li>
          <a class="listlink"
             href="https://stats.digitalscout.com/ohio/school/dublin-scioto-irish/football/varsity/boys/9361504">
            2018
          </a>
        </li>
        <li>
          <a class="listlink"
             href="https://stats.digitalscout.com/ohio/school/dublin-scioto-irish/football/varsity/boys/7982576">
            2017
          </a>
        </li>
        <li>
          <a class="listlink"
             href="https://stats.digitalscout.com/ohio/school/dublin-scioto-irish/football/varsity/boys/6897063">
            2016
          </a>
        </li>
        <li>
          <a class="listlink"
             href="https://stats.digitalscout.com/ohio/school/dublin-scioto-irish/football/varsity/boys/4675616">
            2015
          </a>
        </li>
        <li>
          <a class="listlink"
             href="https://stats.digitalscout.com/ohio/school/dublin-scioto-irish/football/varsity/boys/2892671">
            2014
          </a>
        </li>
      </ul>
    </td>
  </tr>
  <tr class="white-on-black">
    <td class="midfont">
      <span class="spanheader">2013 STATISTICS</span>
    </td>
  </tr>
  <tr>
    <td>
      <ul>
        <li>
          <a class="listlink" href="statistics/2013/TEAMGBG.HTM">Game by Game Statistics</a>
        </li>
      </ul>
    </td>
  </tr>
  <tr class="white-on-black">
    <td class="midfont">
      <span class="spanheader">2012 STATISTICS</span>
    </td>
  </tr>
  <tr>
    <td>
      <ul>
        <li>
          <a class="listlink" href="statistics/2012/TEAMCUME.HTM">Cumulative Season Statistics</a>
        </li>
        <li>
          <a class="listlink" href="statistics/2012/TEAMGBG.HTM">Game by Game Statistics</a>
        </li>
        <li>
          <a class="listlink" href="statistics/2012/INDGBG.HTM">Individual Game-by-Game Summaries</a>
        </li>
      </ul>
    </td>
  </tr>
  <tr class="white-on-black">
    <td class="midfont">
      <span class="spanheader">2011 STATISTICS</span>
    </td>
  </tr>
  <tr>
    <td>
      <ul>
        <li>
          <a class="listlink" href="statistics/2011/TEAMCUME.HTM">Cumulative Season Statistics</a>
        </li>
        <li>
          <a class="listlink" href="statistics/2011/TEAMGBG.HTM">Game by Game Statistics</a>
        </li>
        <li>
          <a class="listlink" href="statistics/2011/INDGBG.HTM">Individual Game-by-Game Summaries</a>
        </li>
      </ul>
    </td>
  </tr>
  <tr class="white-on-black">
    <td class="midfont">
      <span class="spanheader">2010 STATISTICS</span>
    </td>
  </tr>
  <tr>
    <td>
      <ul>
        <li>
          <a class="listlink" href="statistics/2010/TEAMCUME.HTM">Cumulative Season Statistics</a>
        </li>
        <li>
          <a class="listlink" href="statistics/2010/TEAMGBG.HTM">Game by Game Statistics</a>
        </li>
        <li>
          <a class="listlink" href="statistics/2010/INDGBG.HTM">Individual Game-by-Game Summaries</a>
        </li>
      </ul>
    </td>
  </tr>
  <tr class="white-on-black">
    <td class="midfont">
      <span class="spanheader">2009 STATISTICS</span>
    </td>
  </tr>
  <tr>
    <td>
      <ul>
        <li>
          <a class="listlink" href="statistics/2009/TEAMCUME.HTM">Cumulative Season Statistics</a>
        </li>
        <li>
          <a class="listlink" href="statistics/2009/TEAMGBG.HTM">Game by Game Statistics</a>
        </li>
        <li>
          <a class="listlink" href="statistics/2009/INDGBG.HTM">Individual Game-by-Game Summaries</a>
        </li>
      </ul>
    </td>
  </tr>
  <tr class="white-on-black">
    <td class="midfont">
      <span class="spanheader">2008 STATISTICS</span>
    </td>
  </tr>
  <tr>
    <td>
      <ul>
        <li>
          <a class="listlink" href="statistics/2008/TEAMCUME.HTM">Cumulative Season Statistics</a>
        </li>
        <li>
          <a class="listlink" href="statistics/2008/TEAMGBG.HTM">Game by Game Statistics</a>
        </li>
        <li>
          <a class="listlink" href="statistics/2008/INDGBG.HTM">Individual Game-by-Game Summaries</a>
        </li>
      </ul>
    </td>
  </tr>

  <tr class="white-on-black">
    <td class="midfont">
      <span class="spanheader">2007 STATISTICS</span>
    </td>
  </tr>
  <tr>
    <td>
      <ul>
        <li>
          <a class="listlink" href="statistics/2007/Teamcume.htm">Cumulative Season Statistics</a>
        </li>
        <li>
          <a class="listlink" href="statistics/2007/Teamgbg.htm">Game by Game Statistics</a>
        </li>
        <li>
          <a class="listlink" href="statistics/2007/Indgbg.htm">Individual Game-by-Game Summaries</a>
        </li>
      </ul>
    </td>
  </tr>

  <tr class="white-on-black">
    <td class="midfont">
      <span class="spanheader">2006 STATISTICS</span>
    </td>
  </tr>
  <tr>
    <td>
      <ul>
        <li>
          <a class="listlink" href="statistics/2006/TEAMCUME.HTM">Cumulative Season Statistics</a>
        </li>
        <li>
          <a class="listlink" href="statistics/2006/TEAMGBG.HTM">Game by Game Statistics</a>
        </li>
        <li>
          <a class="listlink" href="statistics/2006/INDGBG.HTM">Individual Game-by-Game Summaries</a>
        </li>
      </ul>
    </td>
  </tr>

  <tr class="white-on-black">
    <td class="midfont">
      <span class="spanheader">2005 STATISTICS</span>
    </td>
  </tr>
  <tr>
    <td>
      <ul>
        <li>
          <a class="listlink" href="statistics/2005/TEAMCUME.HTM">Cumulative Season Statistics</a>
        </li>
        <li>
          <a class="listlink" href="statistics/2005/TEAMGBG.HTM">Game by Game Statistics</a>
        </li>
        <li>
          <a class="listlink" href="statistics/2005/INDGBG.HTM">Individual Game-by-Game Summaries</a>
        </li>
      </ul>
    </td>
  </tr>

  <tr class="white-on-black">
    <td class="midfont">
      <span class="spanheader">2004 STATISTICS</span>
    </td>
  </tr>

  <tr>
    <td class="midfont">
      <ul>
        <li>
          <a class="listlink"
             href="gamestats/displaystats.php?StatsTitle=2004%20Offensive%20Statistics&StatsFile=2004offensivestats.htm">2004
            Offensive Statistics</a>
        </li>
        <li>
          <a class="listlink"
             href="gamestats/displaystats.php?StatsTitle=2004%20Defensive%20Statistics&StatsFile=2004defensivestats.htm">2004
            Defensive Statistics</a>
        </li>
        <li>
          <a class="listlink"
             href="gamestats/displaystats.php?StatsTitle=2004%20Defensive%20Statistics&StatsFile=2004specialteamsstats.htm">2004
            Special Teams Statistics</a>
        </li>
        <li>
          <a class="listlink"
             href="gamestats/displaystats.php?StatsTitle=2004%20Opponent%20Statistics&StatsFile=2004opponentstats.htm">2004
            Opponent Statistics</a>
        </li>
        <li>
          <a class="listlink"
             href="gamestats/displaystats.php?StatsTitle=2004%20Opponent%20Special%20Teams%20Statistics&StatsFile=2004opponentspecialteamsstats.htm">2004
            Opponent Special Teams Statistics</a>
        </li>
      </ul>
    </td>
  </tr>

  <tr class="white-on-black">
    <td class="midfont">
            <span class="spanheader">
            2003 STATISTICS
            </span>
    </td>
  </tr>

  <tr>
    <td class="midfont">
      <ul>
        <li>
          <a class="listlink"
             href="gamestats/displaystats.php?StatsTitle=2003%20Offensive%20Statistics&StatsFile=2003offensivestats.htm">2003
            Offensive Statistics</a>
        </li>
        <li>
          <a class="listlink"
             href="gamestats/displaystats.php?StatsTitle=2003%20Defensive%20Statistics&StatsFile=2003defensivestats.htm">2003
            Defensive Statistics</a>
        </li>
        <li>
          <a class="listlink"
             href="gamestats/displaystats.php?StatsTitle=2003%20Defensive%20Statistics&StatsFile=2003specialteamsstats.htm">2003
            Special Teams Statistics</a>
        </li>
        <li>
          <a class="listlink"
             href="gamestats/displaystats.php?StatsTitle=2003%20Opponent%20Statistics&StatsFile=2003opponentstats.htm">2003
            Opponent Statistics</a>
        </li>
        <li>
          <a class="listlink"
             href="gamestats/displaystats.php?StatsTitle=2003%20Opponent%20Special%20Teams%20Statistics&StatsFile=2003opponentspecialteamsstats.htm">2003
            Opponent Special Teams Statistics</a>
        </li>
      </ul>
    </td>
  </tr>

  <tr class="white-on-black">
    <td class="midfont">
            <span class="spanheader">
            2002 STATISTICS
            </span>
    </td>
  </tr>

  <tr>
    <td class="midfont">
      <ul>
        <li>
          <a class="listlink"
             href="gamestats/displaystats.php?StatsTitle=2002%20Offensive%20Statistics&StatsFile=2002offensivestats.htm">2002
            Offensive Statistics</a>
        </li>
        <li>
          <a class="listlink"
             href="gamestats/displaystats.php?StatsTitle=2002%20Defensive%20Statistics&StatsFile=2002defensivestats.htm">2002
            Defensive Statistics</a>
        </li>
        <li>
          <a class="listlink"
             href="gamestats/displaystats.php?StatsTitle=2002%20Defensive%20Statistics&StatsFile=2002specialteamsstats.htm">2002
            Special Teams Statistics</a>
        </li>
        <li>
          <a class="listlink"
             href="gamestats/displaystats.php?StatsTitle=2002%20Opponent%20Statistics&StatsFile=2002opponentstats.htm">2002
            Opponent Statistics</a>
        </li>
        <li>
          <a class="listlink"
             href="gamestats/displaystats.php?StatsTitle=2002%20Opponent%20Special%20Teams%20Statistics&StatsFile=2002opponentspecialteamsstats.htm">2002
            Opponent Special Teams Statistics</a>
        </li>
      </ul>
    </td>
  </tr>

  <tr class="white-on-black">
    <td class="midfont">
            <span class="spanheader">
            2001 STATISTICS
            </span>
    </td>
  </tr>

  <tr>
    <td class="midfont">
      <ul>
        <li>
          <a class="listlink"
             href="gamestats/displaystats.php?StatsTitle=2001%20Offensive%20Statistics&StatsFile=2001offensivestats.htm">2001
            Offensive/Special Teams Statistics</a>
        </li>
        <li>
          <a class="listlink"
             href="gamestats/displaystats.php?StatsTitle=2001%20Defensive%20Statistics&StatsFile=2001defensivestats.htm">2001
            Defensive Statistics</a>
        </li>
        <li>
          <a class="listlink"
             href="gamestats/displaystats.php?StatsTitle=2001%20Opponent%20Statistics&StatsFile=2001opponentstats.htm">2001
            Opponent Statistics</a>
        </li>
      </ul>
    </td>
  </tr>

  <tr class="white-on-black">
    <td class="midfont">
            <span class="spanheader">
            2000 STATISTICS
            </span>
    </td>
  </tr>

  <tr>
    <td class="midfont">
      <ul>
        <li>
          <a class="listlink"
             href="gamestats/displaystats.php?StatsTitle=2000%20Offensive%20Statistics&StatsFile=2000offensivestats.htm">2000
            Offensive/Special Teams Statistics</a>
        </li>
        <li>
          <a class="listlink"
             href="gamestats/displaystats.php?StatsTitle=2000%20Defensive%20Statistics&StatsFile=2000defensivestats.htm">2000
            Defensive Statistics</a>
        </li>
        <li>
          <a class="listlink"
             href="gamestats/displaystats.php?StatsTitle=2000%20Opponent%20Statistics&StatsFile=2000opponentstats.htm">2000
            Opponent Statistics</a>
        </li>
      </ul>
    </td>
  </tr>

</table>
