<div class="history-container">
  <ul class="sub-nav">
    <li>
      <a [routerLink]="['results']" routerLinkActive="active-link">Game Results</a>
    </li>
    <li>
      <a [routerLink]="['alumni']" routerLinkActive="active-link">Alumni</a>
    </li>
    <li>
      <a [routerLink]="['irish-nfl']" routerLinkActive="active-link">Irish in the NFL</a>
    </li>
    <li>
      <a [routerLink]="['records-awards']" routerLinkActive="active-link">Records and Awards</a>
    </li>
    <li>
      <a [routerLink]="['stats']" routerLinkActive="active-link">Stats</a>
    </li>
  </ul>

  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</div>
