<div class="calendar-container">
  <h2 class="ds-page-heading">Dublin Scioto Football Calendar</h2>
  
  <div class="calendar-description">
    <p>Stay up to date with all Dublin Scioto Football events, games, and practices. This calendar is updated regularly by our coaching staff.</p>
  </div>
  
  <div class="calendar-wrapper">
    <div *ngIf="loading" class="loading-container">
      <mat-spinner diameter="50" color="accent"></mat-spinner>
      <p>Loading calendar...</p>
    </div>
    
    <iframe
      #calendar
      src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FNew_York&amp;src=NXVvdjc2b2E4cTVkazJ2dG0zYnMzZGd0cGNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%230B8043&amp;showTitle=0&amp;showNav=1&amp;showDate=1&amp;showPrint=0&amp;showTabs=1&amp;showCalendars=0"
      class="google-calendar"
      [class.loading]="loading"
      (load)="onCalendarLoad()"
      frameborder="0"
      scrolling="no"
    ></iframe>
  </div>
  
  <div class="calendar-instructions">
    <h3 class="ds-section-heading">Calendar Features</h3>
    <ul>
      <li>Click on any event to see details including location and description</li>
      <li>Use the navigation buttons in the top right to change months</li>
      <li>Switch between month, week, and day views using the tabs at the top</li>
      <li>All times are shown in Eastern Time</li>
    </ul>
  </div>
</div>
