<h2>SCIOTO IRISH TOUCHDOWN CLUB</h2>

<p>
  The Touchdown Club meets the third Tuesday of each month at 7 p.m. in the classroom by the coach’s office.
  All parents/guardians of Irish Football players are automatically members of the TD Club. The Touchdown Club supports
  the efforts of the football program through fundraising, providing meals, purchasing equipment, uniforms, and
  the extras that make Scioto Football a first class organization.
</p>

<table class="offices">
  <thead>
  <th>Office</th>
  <th>2023</th>
  <th>2024</th>
  </thead>
  <tbody>
  <tr>
    <td>PRESIDENT</td>
    <td>DAVE SANDERS</td>
    <td></td>
  </tr>
  <tr>
    <td>VICE PRESIDENT</td>
    <td>ANGIE RINEHART</td>
    <td></td>
  </tr>
  <tr>
    <td>TREASURER</td>
    <td>KIM EKIS</td>
    <td></td>
  </tr>
  <tr>
    <td>ASST TREASURER</td>
    <td>GRETCHEN MCKEE</td>
    <td></td>
  </tr>
  <tr>
    <td>SECRETARY</td>
    <td>AMANDA SAUL</td>
    <td></td>
  </tr>
  <tr>
    <td>PAST PRESIDENT</td>
    <td>AMBER DUZAN</td>
    <td></td>
  </tr>
  <tr>
    <td>SENIOR CLASS - 2024</td>
    <td>JAMES MCMAHON</td>
    <td></td>
  </tr>
  <tr>
    <td>JUNIOR CLASS - 2025</td>
    <td>CHERYL O'ROURKE</td>
    <td></td>
  </tr>
  <tr>
    <td>SOPHOMORE CLASS - 2026</td>
    <td>
      BOUCHRA SHERAZEE <br>
      AMANDA SAUL
    </td>
    <td></td>
  </tr>
  <tr>
    <td>FRESHMAN CLASS - 2027</td>
    <td>
      LINDSAY LEE<br>
      MELIISA MCMILLEN
    </td>
    <td></td>
  </tr>
  <tr>
    <td>IRISH FESTIVAL CHAIR</td>
    <td>
      MATT AND LINDSEY PUSATERI
    </td>
    <td></td>
  </tr>
  <tr>
    <td>PANCAKE BREAKFAST CHAIR</td>
    <td>
      AMBER DUZAN
    </td>
    <td></td>
  </tr>
  <tr>
    <td>TIES & TIARAS CHAIR</td>
    <td>
      KIM EKIS
    </td>
    <td></td>
  </tr>
  <tr>
    <td>SPIRIT WEAR</td>
    <td>
      LIZ SAUER
    </td>
    <td></td>
  </tr>
  <tr>
    <td>FOOTBALL PROGRAMS</td>
    <td>
      DAVE AND JEN SANDERS
    </td>
    <td></td>
  </tr>
  <tr>
    <td>PROGRAM ADS</td>
    <td>
      TOP SPORTS PRODUCTIONS
    </td>
    <td></td>
  </tr>
  <tr>
    <td>SUMMER CONCESSIONS</td>
    <td>
      LINDSAY LEE<br>
      MELIISA MCMILLEN
    </td>
    <td></td>
  </tr>
  <tr>
    <td>VARSITY TEAM MEALS</td>
    <td>
      TIFFANY EVANS
    </td>
    <td></td>
  </tr>
  <tr>
    <td>VARSITY HOME GAME STADIUM SET UP</td>
    <td>
      K-ELLEY MCGRUDER
    </td>
    <td></td>
  </tr>
  <tr>
    <td>VARSITY HOME GAME GATORADE</td>
    <td>
      LINDSAY LEE<br>
      MELIISA MCMILLEN
    </td>
    <td></td>
  </tr>

  <tr>
    <td>VARSITY HOME GAME POST GAME FOOD</td>
    <td>
      TIFFANY EVANS
    </td>
    <td></td>
  </tr>
  <tr>
    <td>GOLF OUTING</td>
    <td>
      DAVE SANDERS
    </td>
    <td></td>
  </tr>
  </tbody>

</table>


