<section>

  <img src="/assets/coachingstaff.png">


  <h2>Alex Place: Head Football Coach</h2>

  Alex Place will be recommended to the board to become the 5th head football coach at Dublin Scioto High School. Coach
  Place is a 2007 graduate of Archbishop Alter High School. Coach Place received his bachelor's degree in Sports
  Management and his Master’s degree in Education from The Ohio State University. Coach Place is currently a 7th Grade
  Math teacher at Davis Middle School. Alex has also spent time as an assistant baseball coach at Scioto and head 8th
  grade coach at Davis Middle School. Coach Place resides in Dublin with his wife Ashley and sons Jaxon and Mason.


  <h2>Pete Beale: Team Assistant</h2>

  Pete Beale is in his 23rd year of assisting the Irish. He has been a friend of the program for 25+ years as all three
  of his children are graduates of the Dublin Schools. Pete is employed at Scioto High School as the Security Monitor.
  Pete and his wife Sherri are the proud grandparents of seven grandchildren that all reside in the Columbus area.


  <h2>Alex Gordon, Assistant Coach</h2>

  Alex is starting his first year as a freshman assistant coach at Scioto. Alex graduated from Dublin Scioto in 2010
  where he started 3 years on Varisty and was team captain his Junior and Senior year. Alex is a graduate of The Ohio
  State University where he wrestled and majored in Public Relations. Alex is a veteran of the United States Navy and
  currently works at Prime Lending as a Mortgage Lender. Alex also coaches wrestling in the winter.


  <h2>Dan Harris: Head JVB Coach, Defensive Assistant</h2>

  Dan is entering his fourth year as a coach at Scioto High School, and 11th overall. Coach Harris is a graduate of
  Colonel Crawford High School and holds a bachelor’s degree in History and a Master’s of Education both from The Ohio
  State University. Coach Harris is in his 25th year of teaching, the past 20 of which at Olentangy High School. Dan and
  his wife, Jen, live in the Scioto district with their 4 children: Landon, Bronwyn, Corbin, and Donovan.


  <h2>Arby Jones: Strength Coordinator - Assistant O-Line Coach</h2>

  Coach Jones is starting his tenth year with the Irish, working with all Irish athletes, running the strength and
  conditioning program and helping coach O-line. Coach Jones graduated from Wake Forest University in 2006, where he was
  a three year starter on the offensive line and was a part of the Demon Deacons ACC Championship and Orange Bowl teams.
  Coach Jones teaches Basic Strength Training, Advanced Strength training, & Health at Scioto and lives in Dublin with
  his wife Kim and two sons, Liam & Sullivan, both future Irish students.


  <h2>Aleck Kelly: Offensive Assistant, JV-B Offensive Coordinator</h2>

  Aleck is starting his sixth year as a freshman assistant coach at Scioto. Aleck graduated from Dublin Scioto in 2017
  where he started for 3 years on the varsity football team. Aleck is going into his first year of teaching at Davis
  Middle School as an Intervention Specialist.


  <h2>Blake Moeller: Offensive Line</h2>

  Blake is starting his 8th year around the Scioto football program. Blake Graduated from Dublin Scioto in 2015. Blake
  graduated from Bowling Green State University in 2021 with a degree in Special Education. Blake is starting his first
  year as an Intervention Specialist at Dublin Scioto and is excited and grateful for his opportunity to continue to
  work with students at Dublin Scioto.


  <h2>Dave Nosker: Defensive Assistant</h2>

  Coach Nosker will

  begin his 25th season with the Irish and 40th season coaching football in Dublin. Dave is a graduate of The Ohio State
  University and received his Masters Degree in Education Administration from Ashland University. His wife George Ann
  retires from the Dublin City Schools in August after 33 years of service. Dave and George Ann reside in Dublin and
  have two children and 6 grandchildren. His son Michael has a daughter Mackenzie who will be a junior at Dublin Jerome
  High School, a step son,Pierson and a baby on the way this fall, daughter Nichole and her husband Andy have three
  children, Carson, Madison, and Jackson.


  <h2>Jason Reineck: Corners</h2>

  Jason Reineck is a 2009 grad of Dublin Scioto and a 2014 grad in middle childhood education from The Ohio State
  University. Coach Reineck was a three sport varsity athlete: football, basketball, track and field at Dublin Scioto.
  He was a member of the Ohio State track team and later became a valued member of the Buckeye Pistol team where he was
  a three time all-American and captain of their National Championship team in 2014. Coach Reineck works for Feazel
  Roofing and is also the proud owner of Same Shoes LLC, a business of shoe restoration/customization. He lives in
  Dublin with his wife Meghan and their two Mini-Australian Shepherds, Bodhi and Ruby.


  <h2>Jason Rice: Offensive Coordinator, Running Backs</h2>

  Jason Rice is in his 11th season with the Irish. Coach Rice is a 2006 graduate of Dublin Scioto High School where he
  was a 3 year starter and key member of the 2003, 2004, and 2005 playoff teams. Coach Rice is a 2012 graduate of
  Bowling Green State University where he played football and majored in education. He is currently teaching social
  studies at Dublin Jerome and resides in Lewis Center with his wife Lauryn and their three children: Declan, Harper,
  and Jack.


  <h2>Jim Schafer: Secondary, Special Teams Coordinator</h2>

  Coach Schafer is a graduate of Riverside High School in Painesville, Ohio and Bowling Green State University and has
  been teaching and coaching in the Dublin City Schools for the past 30 years. This is his 23rd year coaching for the
  Irish and 21st year teaching Social Studies at Dublin Scioto High School. Coach Schafer and his wife Jen, librarian at
  Eversole Run, reside in Dublin. Jim and Jen have two grown children; Jacob (Scioto class of ‘14) who teaches social
  studies at Davis Middle School and lives in Hillard with his wife Madison. Justin (Scioto Class of ‘15) who teaches
  Science at Willard Middle School in Loudoun County Virginia.

  <h2>Drew Spencer: Offensive Skill</h2>

  Coach Spencer is in his 1st season with the Irish. He is a Tiffin University graduate where he was a 4-year starter on
  the football team. Previously, Drew coached 6 seasons on the collegiate level at Capital University, Carnegie Mellon
  University and Ohio Dominican University. Coach Spencer and his wife Reanna reside in Dublin with their two children
  Maverick and Landry.


  <h2>Drew Stagg: Offensive Skill Coordinator</h2>

  Coach Stagg is a graduate of Walsh University where he played both defensive and offensive line. This is his 14th year
  with the Irish and his eighth year as the receivers coach for Scioto. Previously, Drew was the Irish Head Freshman
  Coach. Coach Stagg teaches 8th grade History at Davis Middle School. Coach Stagg has a bachelor’s degree in Education
  with a focus on integrated social studies. He also has his masters degree in curriculum and instruction, and a masters
  degree in educational leadership from Miami University. Coach Stagg resides in Powell with his wife Krista and their
  newly born son, Kaden Otto Stagg.


  <h2>John Witt: Defensive Line</h2>

  Coach Witt is beginning his 19th year at Dublin Scioto. Coach Witt is a graduate of Westerville South High School &
  The Ohio State University and teaches history at Dublin Scioto High School. Coach Witt & his wife Kortney reside in
  Westerville with their four children Hannah, Zachary, Emma, & Gracie.


</section>
