<div id="fb-root"></div>
<!--<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v20.0"-->
<!--        nonce="9rw7RX5U">-->
<script async defer crossOrigin="anonymous"
        src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v21.0">

</script>

<div class="home-title-bar">
  <span class="title">
    Scioto Football
  </span>
  <span class="ticket-button-container">
    <button (click)="navigateToLink('https://dublinschools.hometownticketing.com/embed/all?tile_id=1&tile_item=5')">Home Tickets</button>
  </span>
</div>

<section class="page-wrapper">

  <div class="col-1">
    <section class="announcements">
      <h2>Announcements</h2>
      <ul>
        <li *ngFor="let announcement of _announcementData">
          <h3>{{ announcement.headline }}</h3>
          <p>
            {{ announcement.body }}
          </p>
          <p>
            <button *ngIf="announcement.url" (click)="showMore(announcement.url)">More Information</button>
          </p>
        </li>
      </ul>
    </section>

    <section class="col-1-twitter">
      <h2>Tweets</h2>
      <div class="twitter-container">
        <a class="twitter-timeline" href="https://twitter.com/sciotofootball?ref_src=twsrc%5Etfw">
          Tweets by sciotofootball
        </a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </section>

    <section class="col-1-social-media">
      <div class="instagram-embed">
        <h2>Instagram</h2>
        <blockquote class="instagram-media"
                    data-instgrm-permalink="https://www.instagram.com/dshsirishfootball/"
                    data-instgrm-version="14">
          <div>
            <a
              href="https://www.instagram.com/dshsirishfootball/?utm_source=ig_embed&amp;utm_campaign=loading"
              style=""
              target="_blank">
              <div>
                <div
                  style="color:#3897f0;">
                  View this profile on Instagram
                </div>
              </div>
            </a>
            <p style=" color:#c9c8cd; ">
              <a href="https://www.instagram.com/dshsirishfootball/?utm_source=ig_embed&amp;utm_campaign=loading"
                 style=""
                 target="_blank">Dublin Scioto Football</a>

              (&#64;<a href="https://www.instagram.com/dshsirishfootball/?utm_source=ig_embed&amp;utm_campaign=loading"
                   target="_blank">dshsirishfootball</a>) • Instagram photos and videos
            </p>
          </div>
        </blockquote>
      </div>

      <div class="facebook-embed">
        <h2>Facebook</h2>

        <iframe src='https://widgets.sociablekit.com/facebook-page-posts/iframe/25511758'
                width='100%'
                height='100%'
                title='Facebook Container'>

        </iframe>
      </div>
    </section>


    <section class="sponsors">
      <div>
        <h2>Sponsors</h2>
        <div class="slider">
          <ng-image-slider
            [images]="_sponsorData"
            [infinite]="true"
            [autoSlide]="{interval: 3, stopOnHover: true}"
            [imagePopup]="false"
            [showArrow]="false"
            [manageImageRatio]="true"
            [defaultActiveImage]="2"
            [imageSize]="{ width: '31%', space: 10}"
            (imageClick)="imageClick($event)"
            #nav>
          </ng-image-slider>
        </div>
      </div>
    </section>
  </div>

  <div class="col-2">
<!--    <ngx-twitter-timeline-->
<!--      [data]="{sourceType: 'url', url: 'https://twitter.com/sciotofootball'}"-->
<!--      [opts]="{tweetLimit: 5}"-->
<!--      class="col-2-twitter"-->
<!--    ></ngx-twitter-timeline>-->

  </div>

</section>



