<h1>Dublin Scioto Football</h1>


<section class="page-wrapper">

  <div class="col-1">
    <section class="announcements">
      <h2>Announcements</h2>
      <ul>
        <li *ngFor="let announcement of _announcementData">
          <h3>{{announcement.headline}}</h3>
          <p>
            {{announcement.body}}
          </p>
          <p>
            <a href="{{ sanitizeURL(announcement.url) }}" target="_new">More Information</a>
          </p>
        </li>
      </ul>
    </section>

    <section class="col-1-twitter">
      <h2>Tweets</h2>
      <div class="twitter-container">
        <ngx-twitter-timeline
          [data]="{sourceType: 'url', url: 'https://twitter.com/sciotofootball'}"
          [opts]="{tweetLimit: 2}"
          class="col-2"
        ></ngx-twitter-timeline>
      </div>

    </section>

    <section class="sponsors">

      <h2>Sponsors</h2>
      <div class="slider">

        <ng-image-slider
          [images]="imageObject"
          [infinite]="true"
          [autoSlide]="{interval: 3, stopOnHover: false}"
          [imagePopup]="false"
          [showArrow]="false"
          [manageImageRatio]="true"
          [imageSize]="{ width: '33%', space: 10}"
          (imageClick)="imageClick($event)"
          #nav>
        </ng-image-slider>
      </div>


      <!--      <ul>-->
      <!--        <li *ngFor="let sponsor of _sponsorData">-->
      <!--          <h3>{{sponsor.name}}</h3>-->
      <!--          <p>-->
      <!--            {{sponsor.link}} - {{sponsor.contact}}-->
      <!--          </p>-->
      <!--        </li>-->
      <!--      </ul>-->
    </section>

  </div>

  <div class="col-2">
    <ngx-twitter-timeline
      [data]="{sourceType: 'url', url: 'https://twitter.com/sciotofootball'}"
      [opts]="{tweetLimit: 5}"
      class="col-2"
    ></ngx-twitter-timeline>
  </div>

</section>


