
.home-title-bar {
  height: 43px;
  display: flex;
  flex-direction: row;

  .title {
    display: flex;
    width: calc(100% - 200px);
    padding: 11px 39px;
    font-weight: bold;
    font-size: 21px;
  }

  .ticket-button-container {
    display: flex;
    justify-content: right;
    width: 200px;
    padding-right: 10px;

    button {
      margin: 5px 5px;
    }
  }

}

.page-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 10px;

  .col-1 {
    width: calc(100% - 250px);
    display: flex;
    flex-direction: column;
    padding-top: 5px;

    .announcements {
      min-height: calc(100vh - 800px);
      border-radius: 10px;
      border: solid 1px forestgreen;
      width: 90%;
      padding: 0 20px;
      margin: 0 auto;
      background-color: rgba(31, 132, 65, 0.26);

      h2 {
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        border-bottom: solid 1px green;
        padding-bottom: 8px;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          h3 {
            //text-align: center;
            font-weight: bold;
            font-size: 16px;

          }
          border-bottom: solid 1px #ccc;
        }

        li:last-child  {
          border-bottom: solid 0 #ccc;
        }
      }
    }

    .col-1-twitter {
      display: none;
      max-height: 400px;
      overflow: auto;
    }

    .col-1-social-media {
      display: flex;
      flex-direction: row;

      div {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-content: center;

        h2 {
          text-align: center;
        }

      }

      .instagram-embed {
        background: #FFF;
        padding: 15px;
        border-radius: 3px;
        margin: 1px;

        iframe {
          overflow: hidden;
          width: 340px;
          min-height: 533px;
          margin: 0 auto;
        }
      }

      .facebook-embed {
        padding: 15px;

        iframe.facebook-iframe {
          overflow: hidden;
          width: 340px;
          height: 100%;
          margin: 0 auto;
          border: 0;
        }
      }

    }

    .sponsors {
      margin: auto 5px 5px 0;

      h2 {
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        border-bottom: solid 1px #ccc;
        padding-bottom: 8px;
      }

      .slider {
        margin: 10px 20px;
      }
    }
  }

  .col-2 {
    width: 250px;
    display: flex;
    margin-bottom: 10px;
    overflow-y: auto;

    ngx-twitter-timeline.col-2-twitter {
      display: block;
      width: 100%;
      max-height: calc(100vh - 520px);
    }
  }
}


@media (max-width: 1173px) {
  .page-wrapper {
    .col-1 {
      width: calc(100% - 13px);

      .announcements {
        height: auto;
        margin-bottom: 10px;
      }

      .col-1-twitter {
        width: calc(100% - 50px);
        margin: 5px auto 0 auto;
        display: block;

        h2 {
          text-align: center;
          font-weight: bold;
          font-size: 18px;
          border-bottom: solid 1px #ccc;
          padding-bottom: 8px;
        }
      }
    }

    .col-2 {
      width: 0;

      ngx-twitter-timeline.col-2 {
        max-height: calc(100vh - 174px);
        overflow-y: auto;
        display: none;
      }
    }
  }
}

@media (max-width: 800px) {

  .home-title-bar {
    height: 43px;

    .title {
      //width: calc(100% - 100px);
      padding-top: 13px;
      font-size: 17px;
    }

    .ticket-button-container {
      //width: 200px;
      padding-right: 10px;

      button {
        margin: 5px 5px;
      }
    }
  }


  .page-wrapper {
    .col-1 {
      width: calc(100% - 13px);

      .col-1-twitter {
        width: calc(100% - 0px);
        margin: 10px auto 0 auto;
        display: block;

        .twitter-container {
          width: calc(100% - 20px);
          margin: 5px auto 0 auto;
        }

      }

      .col-1-social-media {
        flex-direction: column;

        div {
          width: 100%;
        }

        .instagram-embed {
          padding: 0;
        }

        .facebook-embed {
          padding: 0;

          iframe.facebook-iframe {

            min-height: 300px;

          }

        }
      }


    }
  }
}
