<div id="all_all_players" class="table_wrapper">

  <div class="table_container is_setup" id="div_all_players">
    <table class="player-table">
      <thead>
        <tr>
          <th></th>
          <th class="image-cell">
            Player
          </th>
          <th aria-label="Pos" data-stat="pos" scope="col" class=" poptip sort_default_asc left" data-tip="Position">Pos
          </th>
          <th aria-label="teams" data-stat="teams" scope="col" class=" poptip center">Teams</th>
          <th>
            Years
          </th>
          <th >
            Wikipedia
          </th>
        </tr>
      </thead>
      <tbody>
        <tr data-row="0">
          <td class="image-cell">
            <img alt="Bradley McDougald"
                 src="https://www.pro-football-reference.com/req/20230307/images/headshots/McDoBr01_2019.jpg">
          </td>
          <td>
            <a target="_new" href="https://www.pro-football-reference.com/players/M/McDoBr01.htm">
              Bradley McDougald
            </a>
          </td>
          <td>FS</td>
          <td>TAM,KAN,SEA,NYJ,TEN,JAX</td>
          <td>2013 - 2021</td>
          <td>
            <a href="https://en.wikipedia.org/wiki/Bradley_McDougald">
              Wikipedia
            </a>
          </td>
        </tr>
        <tr data-row="1">
          <td class="image-cell">
            <img alt="Jay Richardson"
                 src="https://www.pro-football-reference.com/req/20230307/images/headshots/RichJa99_2019.jpg">
          </td>
          <td>
            <a target="_new" href="https://www.pro-football-reference.com/players/R/RichJa99.htm">
              Jay Richardson
            </a>
          </td>
          <td>DE</td>
          <td>OAK,SEA,NOR</td>
          <td>2007 - 2013</td>
          <td>
            <a href="https://en.wikipedia.org/wiki/Jay_Richardson">
              Wikipedia
            </a>
          </td>
        </tr>
        <tr data-row="2">
          <td class="image-cell">
            <img alt="Nick Goings"
                 src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/Nick_Goings_in_2006.jpg/440px-Nick_Goings_in_2006.jpg">
          </td>
          <td>
            <a target="_new" href="https://www.pro-football-reference.com/players/G/GoinNi00.htm">
              Nick Goings
            </a>
          </td>
          <td>RB</td>
          <td>CAR</td>
          <td>2001 - 2008</td>
          <td>
            <a href="https://en.wikipedia.org/wiki/Nick_Goings">
              Wikipedia
            </a>
          </td>
        </tr>
      </tbody>
    </table>


  </div>

  <img alt="NFL - Logo"
       src="/assets/nfl-shield.svg">

</div>
