<ul class="newslink">
  <li>
    <a href="http://www.dublinschools.net/" class="listlink" target="_new">Dublin City Schools</a><br>
    Official site for the Dublin City School District
  </li>
  <li>
    <a href="http://www.dublinfootball.org/" class="listlink" target="_new">Dublin Football League</a><br>
    The Dublin Football League
    (DFL) is committed to providing quality football experiences to Fall school age children in the grades first thru
    sixth.
  </li>
  <li>
    <a href="https://www.dublinschools.net/Scioto" class="listlink" target="_new">Dublin Scioto High School</a><br>
    Official website for Dublin Scioto High School
  </li>
  <li>
    <a href="https://www.maxpreps.com/oh/dublin/dublin-scioto-irish/" class="listlink" target="_new">Maxpreps</a><br>
    Coverage of Ohio high school sports including excellent message boards.
  </li>
  <li>
    <a href="http://www.joeeitel.com/hsfoot/" class="listlink" target="_new">Joe Eitel Rankings</a><br>
    Unofficial Playoff Rankings by Region.
  </li>
  <li>
    <a href="https://ohiocapitalconference.org/" class="listlink" target="_new">Ohio Capital Conference</a><br>
    Official site for the Ohio Capital Conference
  </li>
  <li>
    <a href="http://www.ohsaa.org/" class="listlink" target="_new">Ohio High School Athletic Association</a><br>
    Official site for the OHSAA, the governing body for high school sports in Ohio.
  </li>
  <li>
    <a href="http://www.ohsaa.org/sports/football" class="listlink" target="_new">OHSAA Football</a><br>
    Official OHSAA Football site
  </li>
  <li>
    <a href="https://www.dispatch.com/sports/high-school/" class="listlink" target="_new">The Columbus Dispatch: High School Sports</a><br>
    Local Newspaper coverage of High School Sports.
  </li>
  <li>
    <a href="http://www.yappi.com/" class="listlink" target="_new">Yappi Sports</a><br>
    An online community for Ohio High School sports.
  </li>
</ul>
